.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px lightgray;
}
/* header-logo */
.header-logo {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-basic);
}
.header-logo .image-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.header-logo .shop-name {
  font-size: var(--font-size-title);
}
/* header-navigate */
.header-navigate {
  flex: 6;
}

.header-navigate .menu-parent {
  display: flex;
  gap: var(--gap-basic);
  justify-content: center;
  list-style: none;
}

.menu-parent .menu-child {
  padding: 12px 24px;
  font-size: var(--font-size-normal);
}

/* header-auth */
.header-auth {
  display: flex;
  flex: 3;
  justify-content: center;
}

.header-auth .btn-auth {
  outline: none;
  border: none;
  background-color: var(--primary-color);
  padding: 12px 24px;
  color: white;
  border-radius: var(--border-btn);
  cursor: pointer;
}
